@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__small {
  background: #0037CA;
  padding: 10px 0;
}
.header__small__phone {
  color: #fff;
  font-size: 18px;
  margin-right: 45px;
}
.header__small__social__icon {
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.header__small__social__icon:hover {
  background: #fff;
}
.header__small__social__icon:hover path {
  fill: #0037CA;
}
.header__menu {
  height: 100px;
  background: #000;
}
.header__menu__link {
  color: #fff;
  font-family: 18px;
  font-weight: 700;
  padding: 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.header__menu__link:hover {
  color: #0037CA;
  border-bottom: 2px solid #0037CA;
}
.header__menu__link--cta {
  text-align: center;
  background: #0037CA;
  margin-left: 15px;
  padding: 12px 30px;
  border-radius: 50px;
}
.header__menu__link--cta:hover {
  background: #fff;
  border-bottom: 2px solid transparent;
}

.footer {
  background: #1A1A1A;
}

.caption-headline {
  color: #0037CA;
  font-size: 20px;
  letter-spacing: 0.87em;
  text-transform: uppercase;
}

.main-title {
  color: #404040;
  font-size: 35px;
  text-transform: uppercase;
}

.slider {
  background: red;
}
.slider__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slider .splide__arrows {
  top: 50%;
  width: 100%;
  z-index: 9999;
  padding: 0 150px;
}
.slider .splide__arrow {
  border: 3px solid #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
}
.slider .splide__arrow--next {
  transform: rotate(180deg);
}

.company {
  background: linear-gradient(180deg, rgba(0, 55, 202, 0.9) 0%, rgba(0, 43, 159, 0.9) 100%);
}
.company__numbers {
  border-right: 1px solid #fff;
  margin: 20px 0;
}
.company__numbers__main {
  font-size: 60px;
}
.company__numbers__description {
  width: 150px;
  font-weight: 700;
  line-height: 20px;
}

.history__left__title {
  padding: 20px 0;
}
.history__left__cta {
  margin: 30px 0;
}
.history__left__cta__svg {
  flex-direction: column;
}
.history__right__img {
  width: 100%;
}
.history__stage {
  padding: 50px 0;
}
.history__stage__card {
  width: 285px;
  height: auto;
}
.history__stage__line {
  background: #0037CA;
  width: 100%;
  height: 3px;
  position: relative;
  bottom: -30px;
  z-index: -1;
}
.history__stage__icon {
  color: #fff;
  font-size: 32px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0037CA;
}
.history__stage__title {
  color: #404040;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}
.history__stage__description {
  width: 220px;
  line-height: 20px;
}

.boats__title {
  padding: 50px 0 30px 0;
  background: #f2f2f2;
}
.boats__model__card {
  width: 33.33%;
}
.boats__model__card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  top: 0;
  z-index: -1;
}
.boats__model__title {
  color: #fff;
  font-size: 28px;
  padding: 30px;
}
.boats__model__vertical {
  color: #fff;
  transform: rotate(180deg);
  letter-spacing: 0.81em;
  width: 100%;
  right: 40px;
  bottom: 40px;
  z-index: 99999;
  text-orientation: mixed;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}

.services {
  padding: 50px 0;
  background: radial-gradient(75.46% 256.13% at 60.16% 69.63%, #D0D0D0 0%, rgba(213, 213, 213, 0.859205) 28.2%, rgba(244, 244, 244, 0) 100%);
}
.services__title {
  line-height: 40px;
  padding: 20px 0;
}
.services__card {
  background: #0037CA;
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  margin: 5px;
}
.services__card--black {
  background-color: #000;
}
.services__card__bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.services__card__title {
  color: #fff;
  font-size: 22px;
}
.services__card__description {
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}
.services__card__cta {
  margin: 20px 0;
}

.testimonials__bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  z-index: -1;
}
.testimonials__effect {
  top: 150px;
  height: 100%;
  mix-blend-mode: saturation;
}
.testimonials__svg {
  bottom: 0;
}
.testimonials .custom-shape-divider-bottom-1674160652 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.testimonials .custom-shape-divider-bottom-1674160652 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 422px;
  transform: rotateY(180deg);
}
.testimonials .custom-shape-divider-bottom-1674160652 .shape-fill {
  fill: #0037CA;
}
.testimonials__title {
  padding: 50px 0 25px 0;
}
.testimonials__card {
  background: #fff;
  width: 500px;
  height: auto;
  margin: 20px 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.testimonials__card__icon {
  left: 20px;
  top: 20px;
}
.testimonials__card__icon--variable {
  transform: rotate(180deg);
  left: calc(100% - 80px);
  top: calc(100% - 60px);
  bottom: 20px;
  right: 20px;
}
.testimonials__card__profile {
  padding: 20px 0 0 100px;
}
.testimonials__card__description {
  padding: 20px 30px 50px 30px;
}
.button-border {
  border: 2px solid #0037CA;
  border-radius: 30px;
  padding: 8px 40px;
  font-weight: bold;
  color: #404040;
}

.button-white {
  background: #fff;
  border-radius: 30px;
  padding: 8px 40px;
  font-weight: bold;
  color: #0037CA;
}

.button-blue {
  background: #0037CA;
  border-radius: 30px;
  padding: 8px 40px;
  font-weight: bold;
  color: #fff;
}/*# sourceMappingURL=style.css.map */