.button-border {
    border: 2px solid  #0037CA;
    border-radius: 30px;
    padding:8px 40px;
    font-weight: bold;
    color: #404040;
}

.button-white {
    background: #fff;
    border-radius: 30px;
    padding:5px 50px;
    font-weight: bold;
    color:#0037CA;
}

.button-blue {
    background: #0037CA;
    border-radius: 30px;
    padding:8px 40px;
    font-weight: bold;
    color:#fff;
}